@font-face {
    font-family: KaushanScript;
    src: url("../fonts/KaushanScript-Regular.woff") format("woff");
}

@font-face {
    font-family: Quicksand;
    src: url("../fonts/Quicksand-Regular.woff") format("woff");
}

body {
    overflow-x: hidden;
    margin: 0;
    padding-top: 120px;
    transition: padding-top .3s ease-in-out;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

.home-image {
    background: url("../images/vegetables.jpg") no-repeat;
    background-size: cover;
    height: auto;
}

.home-image-inner {
    color:#fff;
    text-align: center;
    font-family: sans-serif;
    height: 500px;

}

.home-image-inner h2 {
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 500;
    font-size: 2em;
    padding-top: 50px;
    margin-top: 0px;
}

.home-section-1 {
    text-align: center;
    font-family: sans-serif;
    height: auto;
    padding: 0 25px 50px 25px;
}

.home-section-inner-1 {
    margin: auto;
    max-width: 1200px;
    color:gray;
    font-family: Quicksand;
    
}

.home-section-inner-1 h2 {
    font-family: KaushanScript;
    font-weight: 500;
    font-size: 3em;
    padding-top: 50px;
    margin-top: 0px;
    margin-bottom: 15px;
    letter-spacing: .05em;
    color: #7cae49;
}

.connect-grid-container {
    display:grid;
    grid-template-columns: 33% 33% 33%;
}
.connect-grid-item {
    text-align: center;
    font-size: 1.25em;
    padding: 20px;
    max-width: 250px;
    margin: auto;
}

.connect-grid-item div {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 75px;
}

.connect-grid-item div:last-of-type {
    margin-bottom: 10px;
}

.connect-grid-item h3 {
    font-family: Quicksand;
    font-size: 1em;
    letter-spacing: .05em;
    font-weight: 900;
    margin: 0;
}

.facebook a {
    background: url("../images/facebook_logo.png") no-repeat;
    display:inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
}



.newsletter a {
    background: url("../images/newsletter.png") no-repeat;
    display:inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
}



.events a {
    background: url("../images/calendar.png") no-repeat;
    display:inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
}




footer {
    height: 450px;
    background-color:#f9f5ee;
    width: 100%;
    color: #000;    

}

.nav {
    height: 120px;
    max-width: 1200px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 0 25px;
    transition: height .3s ease-in-out;
}

.footer-content {
    height: 150px;
    max-width: 1200px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    padding: 15px 15px;
}

.footer-copyright {
    font-size: .90em;
    align-self: center;
    margin-top: 48px;
}

.footer-brand {
    font-size: 1.5em;
    margin-bottom: 25px;
    align-self: flex-end;
}

.nav-brand {
    display: inline-block;
}

.nav-brand a {
    text-decoration: none;
    color: #7cae49;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 500;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #7cae49;
    font-size: .85em;
    opacity: .75;
    transition: opacity 0.3s linear ;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: .25em;
}


.nav-links a:hover {
    opacity: 1;
}

.hamburger {
    display: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
    background-color: #7cae49;
    height:1.5px;
    width: 35px;
}

button.hamburger:focus {
    outline:0;
}


@media only screen and (max-width: 768px) {
    .hamburger {
        display: inline-block;
    }

    .nav-links li {
    display: block;
    text-align: center;
    padding: 0;
    border-bottom: 2px solid #eee;
    background-color: #fff;
  
    }

    .nav-links {
        position: absolute;
        top: 0px;
        left: 0px;
        margin-top: 120px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }

    .nav-links a {
        display: block;
        padding: 25px 0;
    }

    .hamburger-show-nav-links {
        transition: all .3s ease-in-out;
        max-height:500px;
    }

    .connect-grid-container {
        display:block;
    }
    .small-nav-margin {
        margin-top: 80px;
        transition: all .3s ease-in-out;
    }

}

.small-nav {
    height: 80px;
    transition: height .3s ease-in-out;
}

.small-nav-padding {
    padding-top: 80px;
    transition: padding-top .3s ease-in-out;
}





