@font-face {
    font-family: KaushanScript;
    src: url("../fonts/KaushanScript-Regular.woff") format("woff");
}

@font-face {
    font-family: Quicksand;
    src: url("../fonts/Quicksand-Regular.woff") format("woff");
}

body {
    overflow-x: hidden;
    margin: 0;
    /*padding-top: 120px;*/
    padding-top:75px;
    transition: padding-top .3s ease-in-out;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
	box-shadow: 0 4px 6px -6px #222;						
}

.movie-image {
    background: url("../images/woodenboards.jpg") no-repeat;
    background-size: cover;
    height: auto;
    background-position-x: center;
}

.movie-image-inner {
    color:#fff;
    text-align: center;
    font-family: sans-serif;
    height: 250px;

}

.movie-image-inner h2 {
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 500;
    font-size: 2em;
    padding-top: 50px;
    margin-top: 0px;
}

				 
					   
							
				 
							  
 

.home-section-2 {
    font-family: sans-serif;
    height: auto;
    padding: 25px 25px 50px 25px;
    background-color: #7cae49;
}

					   
				 
					  
			   
						   
	
 

.home-section-inner-1 h2 {
    font-family: KaushanScript;
    font-weight: 500;
    font-size: 3em;
    padding-top: 50px;
    margin-top: 0px;
    margin-bottom: 15px;
    letter-spacing: .05em;
    color: #7cae49;
}

.connect-grid-container {
    display: -ms-grid;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;
}

.connect-grid-item {
    text-align: center;
    font-size: 1.25em;
    padding: 20px;
    max-width: 250px;
    margin: auto;
}

.connect-grid-container .facebook {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
}

.connect-grid-container .newsletter {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
}

.connect-grid-container .events {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
}

.connect-grid-item div {
    height: 75px;
}

.connect-grid-item div:last-of-type {
    margin-bottom: 10px;
}

.connect-grid-item h3 {
    font-family: Quicksand;
    font-size: 1em;
    letter-spacing: .05em;
    font-weight: 900;
    margin: 0;
}

.facebook a {
    background: url("../images/facebook_logo.png") no-repeat;
    display:inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
}

.newsletter a {
    background: url("../images/newsletter.png") no-repeat;
    display:inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
}

.events a {
    background: url("../images/calendar.png") no-repeat;
    display:inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
}



			 
															
				 
				  
							 
						 
 

.movies-grid-container {
    display: -ms-grid;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: .5fr repeat(2, 1fr) .5fr;
    -ms-grid-columns: .5fr 1fr 1fr .5fr;
}

.movies-grid-container .youtube-viewer {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
}

.movies-grid-container .movie-links {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
}

.movies-grid-item {
    font-size: 1em;
    padding: 20px;
    text-align: center;
}

.communities-links a, .communities-links a:visited {
    font-family: Quicksand;
    text-decoration: none;
    font-size: 1.5em;
    color:#fff;
}

.communities-links a:hover {
    text-decoration: underline;
}

.communities-links > div > div:last-of-type {
    margin-top: 50px;
}

	

footer {
    height: 150px;
    background-color:#f9f5ee;
    width: 100%;
    color: #000; 
    text-align: center;
    padding-top: 75px;   
    font-family: Quicksand;
}


.nav {
    /*height: 120px;*/
    height:75px;
    max-width: 1200px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 0 25px;
    transition: all .3s ease-in-out;
}

		
				  
							 
				
				 
					   
						 
						   
 

/* .footer-content {
    height: 150px;
    max-width: 1200px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    padding: 15px 15px;
}

.footer-copyright {
    font-size: .90em;
    align-self: center;
    margin-top: 48px;
} */

.footer-brand {
    font-size: 1.5em;
    margin-bottom: 25px;
    align-self: flex-end;
}

.nav-brand {
    display: inline-block;
}

.nav-brand a {
    text-decoration: none;
    color: #7cae49;
    font-size: 1.10em;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 500;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    padding: 0;
	margin:0;	 
}

.nav-links a {
    text-decoration: none;
    color: #7cae49;
    font-size: .95em;
    opacity: .75;
    transition: opacity 0.3s linear ;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: .25em;
}


.nav-links a:hover {
    opacity: 1;
	background-color:#7cae49;
    color:white;				 
}


.hamburger {
    display: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
    background-color: #7cae49;
    width: 35px;
}

button.hamburger:focus {
    outline:0;
}


@media only screen and (max-width: 768px) {
    .hamburger {
        display: inline-block;
    }

    .nav-links li {
    display: block;
    text-align: center;
    padding: 0;
    border-bottom: 2px solid #eee;
    background-color: #fff;
  
    }

    .nav-links {
        position: absolute;
        top: 0px;
        left: 0px;
        /*margin-top: 120px;*/
        margin-top:75px;	
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }

    .nav-links a {
        display: block;
        padding: 25px 0;
    }

    .hamburger-show-nav-links {
        transition: all .3s ease-in-out;
        max-height:500px;
    }

    .connect-grid-container, .plant-pure-grid-container, .movies-grid-container  {
        display:block;
    }

    .plant-pure-grid-container {
        margin:auto;
        text-align: center;
    }

    .plant-pure-grid-container .communities-links {
        display:block;
    }

    .small-nav-margin {
        margin-top: 80px;
        transition: all .3s ease-in-out;
    }

}

.small-nav {
    height: 80px;
    transition: all .3s ease-in-out;
    
}

.small-nav-header 
{
    box-shadow: 0 4px 6px -6px #222;
}

.small-nav-padding {
    padding-top: 80px;
    transition: padding-top .3s ease-in-out;
}